@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

* {
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
body{
    display: grid;
    grid-template-columns: 1fr 3fr;
    height: 100vmax;
    background: #CFE7fA;
    background: linear-gradient(to right, #CFE7fA 0%, #6393C1 23%, #6393C1 23%, #CFE7fA 100%);
}

.edit {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-transform: uppercase;
    font-size: calc(0.8vw + 1vw);
    margin: 0.85em 0;
    /*   background: #CFE7fA;
    background: linear-gradient(to right, #CFE7fA 0%, #6393C1 100%); */
}

.edit ul {
    margin-top: 1em;
}

.edit ul li a {
    color: #000;
}

.edit ul li {
    padding: 1.3em;
}


.f1, .f2 {
    text-transform: capitalize;
    margin: 1em auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background: #CFE7fA;
    background: linear-gradient(to left, #CFE7fA 0%, #6393C1 100%); */
}
#f3{
    margin: 10%;
}

.f1>*, .f2>* {
    width: 85%;
    text-align: center;
    margin: 1%;
}

/* 
.show,.hide{
    position: absolute;
} */
.inp {
    position: relative;
}

.show, .hide {
    position: absolute;
    content: "";
    right: 1.5%;
    top: 30%;
}

label {
    font-weight: bolder;
}

input, select {
    width: -webkit-fill-available;
    padding: 1em;
    box-sizing: border-box;
    outline: none;
    font: 1em sans-serif;
    letter-spacing: 1.5px;
    text-align: center;
    border: 1px solid yellow;
    background-color: rgb(213, 233, 255);
}

input[type="number"] {
    -moz-appearance: textfield;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type="submit"] {
    background-image: linear-gradient(to right, #ffa908 0%, #FFC837 51%, #ffa908 100%)
}

input[type="submit"] {
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
    font-size: large;
}

input[type="submit"]:hover {
    background-position: right center;
    /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}

@media(max-width:700px) {
    .edit {
        font-size: 1em;
    }
}

@media(max-width:440px) {
    .edit {
        font-size: 0.9em;
    }
    label, input {
        font-size: 0.7em;
    }

    body {
        grid-template-columns: 1fr 4fr;
        height: 100%;
        background: #CFE7fA;
        background: linear-gradient(to right, #CFE7fA 0%, #6393C1 30%, #6393C1 30%, #CFE7fA 100%);
    }

    .f1>*, .f2>* {
        width: 65%;
        text-align: center;
        margin: 1%;
        font-size: 0.7em;
    }

    input[type="submit"] {
        margin: 10px;
        padding: 15px 15px;
        text-align: center;
        text-transform: uppercase;
        transition: 0.5s;
        background-size: 100% auto;
        color: white;
        box-shadow: 0 0 20px #eee;
        border-radius: 10px;
        display: block;
        font-size:small;
    }
}