 @import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&display=swap');

* {
    margin: 0%;
    padding: 0%;
    text-decoration: none;
    list-style: none;
    outline-color: #FFD200;
    outline-offset: 0.2em;
    font-family: 'PT Sans Narrow', sans-serif;
}

body{
    margin-top: 2em;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgb(86, 103, 124);
    width: max-content;
    margin: auto;
    border-radius: 10px;
}

h1 {
    color: rgb(255, 255, 255);
    font-size: 2rem;
    font-weight: 900;
    padding: 0.5em 0;
}

.sep_col{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    padding: 1em 4em;
}
.label {
    background: rgb(0, 198, 255);
    background: linear-gradient(300deg, rgba(0, 198, 255, 1) 0%, rgba(0, 80, 179, 1) 100%);
    width: 100%;
    display: flex;
    justify-content: center;
    border-radius: 10px 10px 0 0;
}

.msg{
    display: none;
    color: #ff0808c7;
    background-color: #ffe0e0;
    border: 2px solid #ff080880;
    border-radius: 5px;
    font-weight: bold;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 3px;
} 

.show, .hide, .show1, .hide1 {
    position: absolute;
    z-index: 1;
    margin: 1px;
    padding: 1%;
    background-color: transparent;
}

.hide, .hide1 {
    display: none;
}

.show, .show1 {
    display: none;
}

input[name="text"], [name='number'] ,[name='user'],[name='new_pass'],[name='cnf_pass']{
    background-color: rgb(255, 255, 255);
    border: none;
    outline: none;
    padding: 1vw 7vw;
    border: 1.5px solid #FFC947;
    border-radius: 4.5px;
    color: white;
    text-align: center;
    background-color: rgb(112, 127, 145);
    accent-color: white;
    letter-spacing: 1.3px;
}

.user, .num {
    font-size: 1.2rem;
    color: white;
    text-shadow: 1px 1px 3px black;
    margin: 0.5em 0;
}
input[name='login'] {
    background-image: linear-gradient(to right, #F7971E 0%, #FFD200 51%, #F7971E 100%)
}

input[name='login'] {
    margin: auto;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    border-radius: 7px;
    display: block;
}

input[name='login']:hover {
    background-position: right center;
    color: #fff;
    text-decoration: none;
}
::-webkit-input-placeholder {
    color: rgb(219, 219, 219);
}
.btn1{
    margin-top: 1.5em;
}

/* 
input[type="number"] {
    -moz-appearance: textfield;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
*/
