<h1>APPETITE</h1>
<div class="footer">
    <div class="f1">
        <h3>OUR TEAM</h3>
        <ul>
            <li>Aqeeb</li>
            <li>Rahied</li>
        </ul>
    </div>
    <div class="f2">
        <h3>LINKS</h3>
        <a href="{{ url_for('login') }}">Sources</a>
        <a href="{{ url_for('login') }}">NGO</a>
    </div>
    <div class="f3">
        <h3>FOR YOU</h3>
        <ul>
            <li> About us </li>
            <li> Contact us</li>
            <li>Report </li>
        </ul>
    </div>
</div>
<p>
    FOR WEBSITE DEVELOPMENT CONTACT <b>AQEEB KHAN</b> GMAIL <b>khanaqeeb13@gmail.com</b> PHONE NUMBER <b>9136398834</b>
</p>
<div class="f4">
    <p>
        By continuing past this page, you agree to our Terms of Service, Cookie Policy, Privacy Policy and
        Content Policies. All trademarks are properties of their respective owners. 2022 &copy; Apptite™ Ltd.
        All
        rights reserved.
    </p>
</div>