<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static',filename='username.css') }}">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
        integrity="sha512-SfTiTlX6kk+qitfevl/7LibUOeJWlt9rbyDn92a1DqWOw9vWG2MFoays0sgObmWazO5BQPiFucnnEAjpAB+/Sw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <div class="card">
        <form action="" name="" class="" id="" method="post" onsubmit="return pwsd()">
            <h1 class="label">New Username</h1>
            <div class="sep_col">
                <div>
                    <p class="user"> Username</p>
                    <input type="text" name="text" placeholder="ABCabc" id="text">
                </div>
                <div>
                    <p class="user" for="new_pass">New password</p>
                    <i class="hide fa fa-eye"></i>
                    <i class="show fa fa-eye-slash"></i>
                    <input type="password" class='password new-pass' name="new_pass">
                </div>
                <div>
                    <p class="user" for="cnf_pass">Confirm password</p>
                    <i class="hide1 fa fa-eye"></i>
                    <i class="show1 fa fa-eye-slash"></i>
                    <input type="password" name="cnf_pass" class="cnf-pass password1">
                </div>
                <div class="btn1">
                    <input type="submit" name="login" value="Confirm" class="con" id="sss">
                </div>
            </div>
        </form>
    </div>
    <script src="{{ url_for('static',filename='signUp.js') }}"></script>
</body>

</html>