<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign up</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='signUp.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
        integrity="sha512-SfTiTlX6kk+qitfevl/7LibUOeJWlt9rbyDn92a1DqWOw9vWG2MFoays0sgObmWazO5BQPiFucnnEAjpAB+/Sw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
</head>
<!-- action="/sign-Up.html" method="post"-->

<body>
    <div class="card">
        <form name="f1" action="" id="signupform" method="post" onsubmit="return signUp_form()">
            <h1 class="label">Sign Up</h1>
            <div class="sep_col">
                <div>
                    <div>
                        <p class="shop-name"> Shop Name OR Ngo Name</p>
                        <input type="text" name="name" placeholder="e.g.-ABCabc" id="name">
                    </div>
                    <div>
                        <p class="user"> Username</p>
                        <input type="text" name="text" placeholder="e.g.-ABCabc" id="text">
                        <p class="msg" id="msg">{{msg}}</p>
                        <!-- <p class="msg" id="msg">{{emal2}}</p> -->
                        <p id="loading" style="display:none;"></p>
                    </div>
                    <div>
                        <p class="Pass">Password</p>
                        <i class="hide fa fa-eye"></i>
                        <i class="show fa fa-eye-slash"></i>
                        <input class='password' type="password" name="pass" placeholder="XYZ!@#321" id="password">
                    </div>
                    <div>
                        <p class="Pass">Confirm Password</p>
                        <i class="hide1 fa fa-eye"></i>
                        <i class="show1 fa fa-eye-slash"></i>
                        <input class='password1' type="password" name="cnf_pass" placeholder="XYZ!@#321"
                            id="cnf_password">
                    </div>
                </div>
                
                <p class="field" id="fld">Select field:</p>
                <div class="sel" id="filled">
                    <input type="radio" name="select" class="a" id="btn1" value="Sources">
                    <label id="name" class="a" for="Sources">Sources</label>
                    <input type="radio" name="select" class="a" id="btn3" value="NGO">
                    <label id="name" class="a" for="NGO">NGO</label>
                </div>
                
                <div class="btn1">
                    <input type="submit" name="login" value="SignUp" class="con" id="sss">
                    <p>Already register?</p>
                    <a href="{{ url_for('login') }}" class="btn">Login</a>
                </div>
            </div>
        </form>
    </div>

    <script src="{{ url_for('static',filename='signUp.js') }}"></script>
</body>

</html>